<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="noindex, nofollow"/>
    <title>Web Client</title>
  </head>
  <body style="padding: 0; margin: 0; background-color: #F2F3F4; font-size: 15px; min-width: 1050px;">
    <div id="app"></div>

    <footer style="margin-top: 2em;
      text-align: center;
      border-top: 1px solid #e0e2e5;
      padding: 10px;"
    />
  </body>
</html>
